/* src/App.css */
body {
  background-color: #f8f9fa; /* Màu nền xám nhạt */
}

.App {
  padding-top: 20px;
}

/* Nút xóa trong bảng */
.delete-button {
  color: #dc3545; /* Màu đỏ của Bootstrap */
}
.delete-button:hover {
  color: #b02a37;

}