server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kiem_thu_phan_mem?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true
    username: root
    password: subin123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.springframework: INFO
    com.flogin: DEBUG
